h1 {
    text-align: center;
}

canvas {
    border: 1px solid black;
}

button {
    display: block;
    font-size: x-large;
    border: none;
    background-color: transparent;
    &:hover {
        cursor: pointer;
        background-color: gray;
    }
}

footer {
    display: flex;
    justify-content: center;
}

#canvas-container {
    text-align: center;
}